<div><header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand" href="">Library App</div>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon  bg-dark"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item " [routerLinkActive]="['active']" *ngFor="let i of nav">
        <a class="nav-link"*ngIf="loggedin();"  routerLink={{i.link}}>{{i.name}}</a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']" *ngFor="let i of nav2">
        <a class="nav-link"*ngIf="!loggedin();"  routerLink={{i.link}}>{{i.name}}</a>
      </li>
      
      
    </ul>  
      
      <button class="btn bg-light my-sm-0 " (click)="clearLocalStorage($event)" *ngIf="loggedin();">logout</button>
    
    
  </div>
</nav></header>





<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <router-outlet></router-outlet>
          <!--/stories-->
          
          
         
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
     
    </div>
  </div>
</footer>
</div>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>